* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-control {
	margin-top: 10px;
	margin-bottom: 10px;
}

#log-in-modal {
	line-height: 50px;
}

.link-right {
	text-align: right !important;
}

.jumbotron-img {
	background: url("../img/background-main-01.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	color: white;
	margin-bottom: 0;
}

#jumbotron-middle {
	line-height: 100px;
	text-decoration: ; 
}

.field-width {
	width: 100%;
}
